<footer class="footer">
  <div class="container has-text-centered">

    <p><a href="https://www.rocketbase.io"><img class="small-footer-logo" src="/img/rocketbase-light.png" alt="rocketbase"></a></p>
    <p class="moto">made with ♥ in Hamburg &copy; 2022</p>

    <ul class="display-inline">
      <li><a href="/imprint/">Impressum</a></li>
      <li><a href="/privacy/">Datenschutzbestimmungen</a></li>
    </ul>
  </div>
</footer>
