<footer class="footer">
  <div class="container">
    <div class="columns is-vcentered">
      <div class="column is-6">
        <img class="small-footer-logo" src="/img/rocketbase-light.png" alt="rocketbase">
        <p class="moto">made with ♥ in Hamburg &copy; 2019</p>
      </div>
    </div>
    <div class="columns">
      <div class="column">
        <ul class="display-inline">
          <li><a href="/imprint/">Impressum</a></li>
          <li><a href="/privacy/">Datenschutzbestimmungen</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
