.padding-bottom {
  padding-bottom: 40px;
}

.navbar {
  background: transparent;
  min-height: 4.5rem;
  position: absolute;
  top: 0;
  width: 100%;

  &-menu {
    .navbar-item {
      a {
        color: $grey-3;

        &:hover {
          background-color: transparent;
          color: $primary;
        }
      }

      &.active {
        a {
          color: $grey-3;
          text-decoration: underline;
        }
      }
    }

  }
}


.hero {
  color: $grey-white;
  overflow: hidden;

  &.space-intro {
    position: relative;
    min-height: 75vh;

    @media screen and (max-height: 800px) {
      min-height: 500px;
    }

    #particles-wrapper {
      position: absolute;
      width: 100%;
      height: 100%;
      overflow: hidden;
    }
  }

  .logo {
    margin: 0 auto;
    max-width: 80vw;
  }
}

dl.dl-horizontal {
  margin-bottom: 0.7em;
  float: none;
  clear: both;

  dt {
    width: 170px;
    float: left;
  }

  dd {
    margin-left: 180px;
  }
}

.extra-margin-bottom {
  margin-bottom: 20px;
}

img.screenshot {
  background: #fff;

  box-shadow: 10px 15px 25px 0 rgba(0, 0, 0, .2);
  padding: 4px;
  border-radius: 4px;
  margin: 10px auto 0 auto;

  transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);

  &:hover {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    margin: 0 auto 10px auto;
  }

}

.creative {
  position: relative;

  &-pivot {
    position: absolute;
    top: 0;

    .screenshot {
      transform: rotate(-2deg);
    }

    &:hover {
      z-index: 1000;
    }
    @media screen and (max-width: 769px) {
      position: relative;
      .screenshot {
        transform: rotate(0);
      }
    }
  }

  &-list {
    margin-top: 20rem;
    position: absolute;
    transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);

    .screenshot {
      transform: rotate(3deg);
    }

    @media screen and (max-width: 1100px) {
      margin-top: 10rem;
    }

    @media screen and (max-width: 769px) {
      margin-top: 0;
      position: relative;
      .screenshot {
        transform: rotate(0);
      }
    }
  }

  &-grid {
    .screenshot {
      transform: rotate(1deg);

      &:hover {
        transform: rotate(0);
      }
    }
    @media screen and (max-width: 769px) {
      .screenshot {
        transform: rotate(0);
      }
    }
  }
}


.title-divider {
  margin: 10px 0;
  width: 80px;
  height: 5px;
  background: $grey-3;

  &.is-right {
    margin-left: auto;
  }

  &.is-centered {
    margin: 10px auto;

    &.extra-margin-bottom {
      margin-bottom: 20px;
    }
  }
}


.legal-text {
  h3 {
    font-family: $family-sans-serif;
    font-size: 1.5em;
    margin: 0.75em 0;
  }

  h2 {
    margin: 1em 0 0.75em 0;
  }
}


@media screen and (max-width: 769px) {
  .reverse-column-order {
    display: flex;
    flex-direction: column-reverse;
  }
}
