.ml4 {
  position: relative;
  font-weight: 900;
  font-size: 40px;


  @media screen and (max-width: 800px) {
    font-size: 35px;
  }

}
.ml4 .letters {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0.3em;
  right: 0;
  opacity: 0;
}
