---
layout: layouts/home.njk
eleventyNavigation:
  key: 404
  order: 999
  title: 404
eleventyExcludeFromCollections: true
---

{% include "navbar.njk" %}

<div class="hero no-min-height">
  <div class="hero-body is-clean">
    <div class="container has-text-centered ">
      <figure class="image is-96x96 is-centered">
        <img src="/img/icons/404.svg" alt="404">
      </figure>
      <h2 class="title">Inhalt nicht gefunden</h2>
    </div>
  </div>
</div>
