---
layout: layouts/home.njk
eleventyNavigation:
  key: home
  order: 0
  title: Home

date: Last Modified
tags:
  - footer

title: productspace.io
description: "Visuelles Arbeiten mit Ihren Produkten. Erstellen Sie z.B. Suchprofile und Pinwände aus Ihrem Sortiment für Kampangienplanungen, Teambesprechen oder ähnlihchem."
---

<section class="hero space-intro space-background-image is-fullheight">
  <div id="particles-wrapper"></div>
  <div class="hero-body">
    <div class="container">
      <div class="columns has-text-centered">
        <div class="column is-hidden-mobile"></div>
        <div class="column">
          <img src="/img/brand-white.svg" alt="productspace" class="logo">
          <h2 class="ml4">
            <span class="letters letters-1">visualisiert</span>
            <span class="letters letters-2">optimiert</span>
            <span class="letters letters-3">analysiert</span>
          </h2>

        </div>
        <div class="column is-hidden-mobile"></div>
      </div>
    </div>
  </div>
</section>



<section class="section">
  <div class="container">
    <div class="columns is-variable is-6 is-centered">
      <div class="column is-half-desktop is-four-fifths-tablet content">
        <h1>ProductSpace</h1>
        <div class="title-divider"></div>
        <p>Das Tools zur Arbeit mit Ihrem Sortiment.</p>
        <ul>
          <li>Durchleuchten Sie Ihre Sortiment nach Ihrem Geschmack</li>
          <li>Planen Sie Ihre Kollektionen mit Hilfe von Pinnwänden (ähnlich Pinterest)</li>
          <li>Ihr Produkt steht im Fokus und überwindet Systemgrenzen</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6 reverse-column-order is-vcentered">
      <div class="column has-text-centered">
        <img src="/img/screenshots/01-dashboard.png" class="screenshot" alt="Dashboard">
      </div>
      <div class="column">
        <h3>Alles im Überblick</h3>
        <h2 class="title">Das Dashboard</h2>
        <div class="title-divider"></div>
        <p>Ermöglicht Ihnen Ihre individuell gespeicherten Suchen und Pinnwände direkt einzusehen. Darüber hinaus erreichen Sie hierüber auch Ihre Freigaben von Kollegen.</p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium light-gray-bg">
  <div class="container">
    <div class="columns is-variable is-6 is-vcentered">
    <div class="column">
        <h3>Kollaboration</h3>
        <h2 class="title">Austausch mit Kollegen</h2>
        <div class="title-divider"></div>
        <p>Tauschen Sie sich mit Ihren Kollegen über eine Plattform aus...</p>
      </div>
      <div class="column has-text-centered">
        <img src="/img/screenshots/02-comment.png" class="screenshot" alt="Kommentare">
      </div>
    </div>
  </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6 reverse-column-order is-vcentered">
      <div class="column has-text-centered">
        <img src="/img/screenshots/03-filter.png" class="screenshot" alt="Filtern">
      </div>
      <div class="column">
        <h3>Pefekte Durchsicht</h3>
        <h2 class="title">Flexible Filter im Sortiment</h2>
        <div class="title-divider"></div>
        <p>Durchsuchen Sie Ihr Sortiment nach allen erdenklichen Kritierien. ProductSpace passt sich Ihrer Sortimentsstruktur an und erlaubt das Filtern nach allen Parametern.</p>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium light-gray-bg">
  <div class="container">
    <div class="columns">
    <div class="column is-hidden-mobile"></div>
    <div class="column is-6 has-text-centered">
      <h3>Ihr Sortiment in Szene gesetzt</h3>
      <h2 class="title">Unterschiedliche Darstellungsformen</h2>
      <div class="title-divider is-centered"></div>
      <p>Tauschen Sie sich mit Ihren Kollegen über eine Plattform aus...</p>
    </div>
    <div class="column is-hidden-mobile"></div>
    </div>
    <div class="columns is-variable is-6">
      <div class="column">
        <div class="creative">
          <div class="creative-pivot">
            <img src="/img/screenshots/05a-pivot.png" class="screenshot" alt="Pivot-Darstellung">
          </div>
          <div class="creative-list">
          <img src="/img/screenshots/04-list.png" class="screenshot " alt="Listen-Darstellung">
          </div>
        </div>
      </div>
      <div class="column">
        <div class="creative">
          <div class="creative-grid">
            <img src="/img/screenshots/06-grid-detail.png" class="screenshot" alt="Grid-Darstellung">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium">
  <div class="container">
    <div class="columns is-variable is-6 is-vcentered">
      <div class="column">
        <h3>Für Zahlenjunkies</h3>
        <h2 class="title">Ihr Sortiment in Pivot</h2>
        <div class="title-divider"></div>
        <p>Analysieren Sie Ihr Sortiment flexibel und mit vollem Durchblick. Auch der Wechsel in die Bildansicht ist ebenfalls möglich</p>
      </div>
      <div class="column">
        <div class="column has-text-centered">
          <img src="/img/screenshots/05b-pivot-config.png" class="screenshot" alt="Pivot anpassen">
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section is-medium light-gray-bg">
  <div class="container">
    <div class="columns is-variable is-6 reverse-column-order is-vcentered">
      <div class="column has-text-centered">
        <img src="/img/screenshots/07-pinboard.png" class="screenshot" alt="Pinboard">
      </div>
      <div class="column">
        <h3>Individualität im Fokus</h3>
        <h2 class="title">Kollektionen planen</h2>
        <div class="title-divider"></div>
        <p>Erstellen Sie gemeinsam im Team oder alleine Pinnwände für die Planung von Kampagnen oder ähnliches.</p>
      </div>
    </div>
  </div>
</section>

{% include "contact.njk" %}

{% set js %}
  {% include "js/anime.min.js" %}
  {% include "js/particles.min.js" %}
  {% include "js/custom-index.js" %}
{% endset %}

<script>{{ js | jsmin | safe }}</script>
